__pycache__
*.py[co]
*.swp
*~
*.egg*

/build/
/dist/
*/static/vendor/
*/static/dist/*
/config/indoktrinator.local.ini
*/static/dist/*
*/static/fonts/*
*/static/css/patternfly*
*/static/js/patternfly*
*/static/img/spinner*


node_modules
