{% extends "main.html" %}
{% block content %}

<div class="container">

  {%for floor in user_count %}

 <h3>{{floor}}</h3>
 <div class="row">
  <div class="col-xs-11">
   <div class="progress">
    <div class="progress-bar progress-bar-danger" style="background-color: #{{get_color(user_count[floor], capacity[floor])}}; width: {{(user_count[floor] / capacity[floor]) * 100 }}%">
    </div>
   </div>
  </div>
  <div class="col-xs-1">
   max. {{capacity[floor]}}
  </div>
 </div>
 {%endfor%}
<h3>Total visitors: {{total}}</h3>
</div>
{% endblock %}
<!-- vim:set sw=1 ts=1 et: -->
