* { box-sizing: border-box; }

body, html {
	background-color: #000;
	width: 100%;
	height: 100%;
}

#svg9 {
    flex-grow: 1;
}

#total {
	height: 120px;
}

#counter img {
    margin-top: -20px;
	height: 100px;
	margin-left: 20px;
	display: inline-block;
}

#person {
	vertical-align: middle;
	line-height: 120px;
	flex: 1;
}

.panel-body, .panel-heading {
	color: white;
	text-shadow: 0 0 3px #000;
	font-size: 32px;
}

#page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    overflow: hidden;
}

#svg {
    padding-top: 5px;
	text-align: right;
	flex-grow: 1;
    overflow: auto;
    display: flex;
}

#counter {
	padding: 10px;
	height: 120px;
	line-height: 110px;
	vertical-align: middle;
	font-size: 100px;
	text-align: center;
	justify-content: center;
}

.progress {
	background-color: #333;
}
